crcmod==1.7
couchdbkit==0.6.1
-e git://github.com/ukhas/jsonschema.git@6bc1587dca6441e96c27#egg=jsonschema
couch-named-python==0.1.6dev
python-dateutil==1.5
statsd-client==1.0.2
PyYAML==3.10
Securetypes==11.12.28
-e git://github.com/ukhas/M2Crypto.git#egg=M2Crypto
